<div class="row">
   <div class="col-md-offset-2 col-md-8">
      <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
   </div>
</div>

<hr>

<!-- Run through every photo -->
<% @photos.each do |photo| %>
<div class="row">
   <div class="col-md-offset-2 col-md-8">

      <!-- Create a panel for each photo -->
      <div class="panel panel-default">

         <!-- Panel Heading -->
         <div class="panel-heading">
            <%= photo.user.username %>
            <small><%= time_ago_in_words(photo.created_at) %> ago</small>
         </div> <!-- /End of Panel Heading -->

         <!-- Panel Body (Photo, like, comments) -->
         <div class="panel-body">
            <!-- photo -->
            <a href="/photos/<%= photo.id %>">
               <img src="<%= photo.image %>" class="img-responsive">
            </a>
            <p>
               <!-- Load liked users and like options -->
               <!-- User already liked photo -->
               <% if current_user.liked_photos.where(:id => photo.id).exists? %>

               <% id = current_user.likes.where(:photo_id => photo.id).pluck(:id)[0] %>
               <a href="/delete_like/<%= id %>">
                  <i class="fa fa-heart" aria-hidden="true"></i>
               </a>

               <!-- User has not liked photo -->
               <% else %>

               <!-- Form Control  to LIKE Photo -->
               <form action="/create_like" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <!-- Label and input for user_id -->
                  <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
                  <!-- End of Input for User_ID-->

                  <!-- Label and input for photo_id -->
                  <input type="hidden" id="photo_id" name="photo_id" placeholder="Photo" class="form-control" value="<%= photo.id %>">
                  <!-- End of Input for Photo_ID-->

                  <button class="btn btn-link">
                     <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </button>
                  <% end %>
                  <!-- Add Liked Users Next to Form -->
                  <%= photo.fans.pluck(:username).to_sentence %>
                  <% if photo.fans.count < 1 %>
                  <% elsif photo.fans.count == 1 %>
                  likes this
                  <% else %>
                  like this
                  <% end %>
               </form> <!-- End of Form Control -->
            </p>

            <!-- Add Comments -->
            <div>
               <% comments = photo.comments.order(created_at: :asc) %>
               <ul class="media-list">
                  <!-- Run Through Each Comment Model -->
                  <li class="media">
                     <div class="media-body">
                        <h4 class="media-heading">
                           <%= photo.user.username %>
                           <small>
                              <%= time_ago_in_words(photo.created_at) %>
                           </small>
                        </h4>
                        <%= photo.caption %>
                     </div>
                  </li>

                  <% comments.each do |comment| %>
                  <li class="media">
                     <div class="media-body">
                        <h4 class="media-heading">
                           <%= comment.user.username %>
                           <small>
                              <%= time_ago_in_words(comment.created_at) %>
                           </small>
                        </h4>
                        <%= comment.body %>
                     </div>
                  </li>
                  <% end %>

                  <li class="media">
                     <div class="media-body">
                        <!-- Inline form to create comment -->
                        <form action="/create_comment" method="post">
                           <!-- Hidden input for authenticity token to protect from forgery -->
                           <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                           <!-- Input for photo_id -->
                           <input type="hidden" name="photo_id" value="<%= photo.id %>">


                           <!-- Input for user_id -->
                           <input type="hidden" name="user_id" value="<%= current_user.id %>">

                           <!-- Label and input for body -->
                           <div class="form-group">
                              <label for="body" class="sr-only">
                                 Body
                              </label>

                              <div class="input-group">
                                 <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>

                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                       <i class="fa fa-commenting-o"></i>
                                    </button>
                                 </span>
                              </div>
                           </div>
                        </form> <!-- End of Form -->
                     </div>
                  </li>
               </ul> <!-- End of media list -->
            </div> <!-- End of Comments Section -->
               <a href="/photos" class="btn btn-primary">Back</a>
            <% if current_user.photos.find_by(:id => photo.id).present? %>
               <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
               <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            <% end %>
         </div>
      </div>
   </div>
</div>
<% end %>
